<div>
    <h2>People Search</h2>
    <form [formGroup]="searchForm" novalidate>
        <div class="form-group">
          <label class="center-block">Enter Search:
            <input class="form-control" formControlName="searchTerm">
            <button (click)="searchStream$.next()" type="button" class="btn btn-success">Search</button>
          </label>
        </div>
      </form>
      <ul>
          <li *ngFor="let person of people">
            <span>{{person.firstName}} {{person.lastName}} {{person.age}} {{person.address}} {{person.imagePath}}</span>
          </li>
        </ul>
      <p>Form value: {{ searchForm.value | json }}</p>
</div>
