<div>
  <h3>People Search</h3>
  <p *ngIf="isBusy">
    <i>Loading people...{{ searchForm[searchName] | json }}</i>
    <i class="fa fa-refresh fa-spin" style="font-size:24px"></i>
  </p>
  <form *ngIf="!isBusy" [formGroup]="searchForm" novalidate>
    <div class="form-group">
      <label for="searchTerm">Enter Search:</label>
      <input class="form-control" formControlName="searchTerm" required>
    </div>
    <button (click)="searchStream$.next()" [disabled]="!searchForm.valid" type="button" class="btn btn-primary">Search</button>
  </form>
  <div>
    <div *ngIf="!isBusy" class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-3">Name</div>
      <div class="col-lg-3">Interest</div>
      <div class="col-lg-1">Age</div>
      <div class="col-lg-4">Address</div>
    </div>
    <hr>
    <div *ngFor="let person of people" class="row">
      <div class="col-lg-1">
        <img src="../../assets/images/people/{{person.pictureFileName}}" class="img-thumbnail" alt="{{person.pictureFileName}}" width="75"
          height="90">
      </div>
      <div class="col-lg-3">{{person.name}}</div>
      <div class="col-lg-3">{{person.interests}}</div>
      <div class="col-lg-1">{{person.age}}</div>
      <div class="col-lg-4">{{person.address}}</div>
    </div>
  </div>
</div>
